<%- include("includes/head.ejs",{pageTitle:"Failed"}) %>
    <link rel="stylesheet" href="/styles/form.css">
  </head>
  <body>
    <%- include("includes/header.ejs") %>
    <main class="main-area">
      <section>
        <div class="section-header-container">
          <h2 class="section-header"><%= message.primary %> </h2>
          <p class="section-header-secondary failure"><%= message.secondary %> </p>
        </div>
        </section>
      </main>
  </body> 
</html>